API_BASE_URL=https://api1.api.cbtraderbd.xyz/docs
API_KEY=cb_traders_bd_unlocked_license
BROKER=quotex
TIMEZONE_OFFSET=UTC+6
LOG_LEVEL=INFO
RETENTION_DAYS=8
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=@your_channel
